img{
    width:100%;
    max-width:100%;
  }
  
  .navbar{
    position:fixed;
    width:100%;
    background: linear-gradient(to right,#00007e, #1CB5E0 );
    z-index:10;
    border-radius:0;
    border-color:transparent;
  }
  .navbar-default .navbar-nav > li > a{
    color:#000;
    
  }

  .carousel-inner > .item > img {
    margin: 0 auto;
    padding-top: 50px;
}

.carousel-caption {
    right: auto;
    text-align: left;
    left: 10%;
    top: 40%;
    padding: 5px;
    bottom: auto;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  
  .thumbnail img {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
  }


  footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 0px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}


